
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-top: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%) !important
}


.post-outer {
        /*background: #f5f5f5;*/
        padding: 5px 10px;
        border-bottom: solid 1px #CFCFCF;
        margin-top: 5px;
    }
    .post-title {
        border-left: solid 4px #AC268B;
       /* background: #a7d4d2;*/
        padding: 5px;
        color: #304d49;
        margin: 0px;
        cursor: move;
    }

    .post-desc {
        line-height: 15px !important;
        font-size: 12px;
        padding: 10px;
        margin: 0px;
    }
    .panel-default {
        margin-bottom: 100px;
    }
    .post-data-list {
        max-height: 374px;
        overflow-y: auto;
    }
    .radio-inline {
        font-size: 20px;
        color: #c36928;
    }
    .progress, .progress-bar{ height: 40px; line-height: 40px; display: none; }

    #post_list li
   {
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
    background: #fff;
    margin-top: 15px;
    border-radius: 4px;
   }
   #post_list li.ui-state-highlight {
    padding: 20px;
    background-color: #eaecec;
    border: 1px dotted #ccc;
    cursor: move;
    margin-top: 5px;
    }

    .btn_move{
        display: inline-block;
        cursor: move;
        /*background: #ededed;*/
        border-radius: 2px;
       width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
